<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PasswordEncoding" value="Md5" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2020/Server"
                binding="netTcpBinding"
                contract="OfficeCommunicator.Middleware.Network.IServerEngine" />
    </client>
  </system.serviceModel>
</configuration>